@import (reference) "../__vars__";

.ndm-schedule-draw {

    &--svg-container {
        filter: brightness(70%);

        &--grid-label {
            fill: @dt__light-blue-text !important;
        }

        &--background {
            transform: translate(0px, 1px);
        }
    }
}
