@import (reference) "../__vars__";

ndm-switchport {

    &.wide {
        .ndm-switchport {
            min-width: 66px;
        }
    }

    &.wide--group {
        .ndm-switchport.ndm-switchport--combo {
            min-width: 150px;

            .ndm-switchport__wrapper:not(.ndm-switchport__wrapper--sfp) {
                padding: 0 12px 0 16px;
                justify-content: space-between
            }

            .ndm-switchport__inner {
                margin: 0;
            }
        }
    }

    .ndm-switchport__label {
        color: @dt__blue-text;
    }

    ndm-svg-icon {
        &[svg-id="blue-socket"] {
            opacity: 0.75;

            & + .ndm-switchport__label {
                color: @dt__dark-blue-text;
            }
        }
    }

    .ndm-switchport__sfp-icon {
        background-color: @dt__greyD;
        color: @dt__dark-blue-text;
    }
}
