@import (reference) "../__vars__";

.ndm-textarea {
    &__textarea {
        background-color: @dt__grey6;
        color: @dt__white-text;

        cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjE4Ij48ZyBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNy45NC4wMDI1MjgzOGE1LjI1IDUuMjUgMCAwMC0zLjQ3IDEuMTcgNS4yNyA1LjI3IDAgMDAtMy40Ny0xLjE3SDB2M2gxYzEuNDEgMCAxLjg1LjcgMiAxdjMuOTRIMnYzaDF2M2MtLjEzLjMtLjU3IDEtMiAxSDB2M2gxYTUuMjcgNS4yNyAwIDAwMy40Ny0xLjE3Yy45OC44IDIuMjEgMS4yMSAzLjQ3IDEuMTdoMXYtM2gtMWMtMS40MSAwLTEuODUtLjctMi0xdi0zSDd2LTNINnYtMy45NGMuMTMtLjMuNTctMSAyLTFoMXYtM3oiLz48cGF0aCBmaWxsPSIjMDAwIiBkPSJNNy45NyAyLjAwMzEyNDU4di0xYTQgNCAwIDAwLTMuNDcgMS42NCA0IDQgMCAwMC0zLjQ3LTEuNjR2MWMxLjMtLjE3IDIuNTYuNiAzIDEuODR2NS4xaC0xdjFoMXY0LjE1OTk5OThjLS40NSAxLjI0LTEuNyAyLTMgMS44NHYxYTQuMDUgNC4wNSAwIDAwMy40Ny0xLjYzIDQuMDUgNC4wNSAwIDAwMy40NyAxLjYzdi0xYTIuODIgMi44MiAwIDAxLTIuOTQtMS44NHYtNC4xNjk5OTk4aDF2LTFoLTF2LTUuMDhhMi44MSAyLjgxIDAgMDEyLjk0LTEuODV6Ii8+PC9nPjwvc3ZnPg==') 5 9, text;
    }
}
