<div
    ng-if="progress >= 100"
    class="kdte-filters-toggle wifiClients__filter-toggle"
    ng-init="
        $ctx = $root.kdte;
        $toggleShowFiltersCallback = $ctx.getToggleFlagFn('showFilterCheckboxes');
    "
>
    <div ng-if="$ctx.currentState === $ctx.STATE.WIFI_CLIENTS_STATE">
        <ndm-checkbox
            class="wifiClients__filter-toggle__checkbox"
            description="{{ $ctx.L10N[$ctx.currentLanguage].showFilterCheckboxes }}"
            model="$ctx.flags.showFilterCheckboxes"
            name="toggleWifiClientsFilters"
            on-value-change="$toggleShowFiltersCallback"
        >
        </ndm-checkbox>
    </div>
</div>
