@import (reference) "__vars__";
@import (reference) "__mixins__";

body {
    // `filter` creates a new containing block for absolute/fixed elements;
    // this will break menu button positioning for ndw >= 3.7.40
    .not-mobile({
        filter: brightness(0.88);
    });
}

body,

// Dashboard + cards + footer
.d-main__card,

// Other pages content container
.ndm-page-header .header,
.ndm-page__content,
.ndm-page__content--loading:before,

// Space other then the side menu or the page content container
.ndm-page-view,
.ndm-page .ss-content,

// Popup
.ndm-popup-header,
.ndm-popup__content,

// 'Small popup' (SMS)
.ndm-popup-small__container {
    background: @dt__grey4 !important;
    color: @dt__white-text !important;
}

.popup-close__icon {
    &:before,
    &:after {
        background-color: @dt__white-text !important;
    }
}
