@import (reference) "__ndwVars__";

.options-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    min-width: 300px;
}

.shortcuts-form {
    width: 100%;
}

.replace-textarea-cursor-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: @new-gap-sm;
    margin-bottom: @new-gap-sm;
}

.switchport-template-form {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

    & > textarea {
        margin: 10px 0 10px 0;
        width: 100%;
    }
}
