@import (reference) "__vars__";
@import (reference) "__mixins__";

.__hidden {
    display: none !important;
}

.__flex-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.__inline-flex-row {
    display: inline-flex;
    flex-direction: row;
    margin-left: @new-unit;

    .ndm-checkbox {
        align-items: normal;

        .form__cell {
            height: auto;
            padding-top: 0;
        }

        .checkbox {
            margin-bottom: 0;
        }
    }
}

.show-filter-checkboxes {
    position: absolute;
    right: @new-gap-sm;

    &.ndm-checkbox.form__row {
        .mobile({
            margin-top: 0;
        });
    }
}

.hidden-table-row {
    min-height: 0 !important;
    opacity: 0 !important;
    height: 0 !important;
}

.extended-switchport-status {
    .__mixin__flex-container();

    margin-top: 4px;
    min-height: 36px;
    text-align: center;
    flex: 1;

    & + & { // link group
        margin-left: 11px;
        margin-right: -2px;
    }
}

.extended-switchport-status-wrapper {
    .__mixin__flex-container(row);
}

.switchport-state {
    align-items: center;
}

.kdte-small-row {
    font-size: 12px !important;
}

.kdte-filters-toggle {
    .ndm-checkbox {
        align-items: center;

        .form__cell {
            line-height: normal;

            &.form__cell--checkbox {
                height: 18px;
                padding-top: 0;
            }

            .checkbox {
                margin-bottom: 0;
            }
        }

        .form__cell-note {
            color: @dt__white-text !important;
        }

        .description {
            min-width: unset;
        }
    }
}

.kdte-filters-toolbar {
    background: @dt__grey4;

    .ndm-checkbox {
        padding-left: 24px;

        .form__cell-note {
            color: @dt__white-text !important;
        }
    }
}
