@import (reference) "../../../__vars__";
@import (reference) "../../../__mixins__";

.page-internet-filter {
    background: @dt__grey4;

    .content-filter {
        .content-filter__unavailable-warning {
            &--loading {
                color: @dt__white-text;
            }
        }
    }

    .dns-profiles {
        .dns-profiles__list,
        .dns-profiles__selected-profile-contents {
            &__header {
                color: @dt__white-text;
                background-color: @dt__grey5;
            }
        }

        .ndm-profile-editor-form,
        .ndm-name-editor-form,
        .unsaved-new-dns-profile {
            background-color: @dt__grey6;
        }

        .dns-profile {
            background-color: @dt__grey5;

            &--selected {
                background-color: @dt__grey6;
            }

            &__toolbar__button {
                .__mixin__toolbar-button();
            }

            .dns-profile__transit-requests-status {
                color: @dt__gray-text;
            }
        }

        .ndm-name-server-card {
            background-color: @dt__grey5;
        }

        .ndm-isp-name-servers-card {
            background-color: darken(mix(@dt__grey5, @yellow-light, 75%), 10%);

            &--disabled {
                background-color: darken(mix(@dt__grey5, @yellow-light, 75%), 20%);
            }
        }

        .name-server__toolbar {
            background-color: @dt__grey5;
            border-color: darken(@dt__blue-text, 5%);

            &__button {
                .__mixin__toolbar-button();
            }
        }
    }

    ndm-profiles-table {
        .ndm-table thead {
            border-bottom: none;
        }
    }
}
