@import (reference) "../../../__mixins__";
@import (reference) "../../../__vars__";

.page-devices-list {
    .ndm-title.tretiary-title {
        position: relative;

        @filters-toolbar-height-mobile: 70px;

        .tablet-and-laptop({
            height: 35px;

            &.__filters-are-visible {
                & > span:not([ng-transclude]) {
                    .ellipsis();
                }
            }
        });

        .mobile({
            &.__filters-are-visible {
                height: @filters-toolbar-height-mobile;
            }
        });

        &[label="devices-list.registered-devices.header"] {
            .mobile({
                &.__filters-are-visible {
                    height: @filters-toolbar-height-mobile + 40px;
                }
            });
        }
    }

    .table-devices-list {
        .__mixin__no-box-shadow-table();

        .via-mws-msg {
            color: @dt__grey9;
        }

        .icon.icon--txbytes-arrow,
        .icon.icon--rxbytes-arrow {
            .__mixin__convert-color-to-dt__white-text();
        }
    }

    .__hint-text {
        color: @dt__grey9;
    }
}
