<div
    class="point-to-point-section"
    ng-controller="$root.PointToPointController as vm"
>
    <ndm-form-header
        hr="{{ vm.HR_IS_VISIBLE ? 'hr-light-blue' : ''}}}"
        label="{{ vm.l10n.header }}"
        sub-title="{{ vm.l10n.description }}"
    >
    </ndm-form-header>

    <ndm-table
        ng-if="vm.table.dataIsLoaded && vm.table.data.length > 0"
        class="point-to-point-section__table"
        data="vm.table.data"
        columns="vm.table.columns"
        track-by-prop="id"
        sort-name="description"
        sort-reverse="false"
        is-sortable="true"
        click-on-row="vm.editTunnel"
    >
    </ndm-table>

    <div
        ng-if="!vm.table.dataIsLoaded || vm.table.data.length === 0"
        class="empty-list"
    >
        <span
            ng-if="!vm.table.dataIsLoaded"
            data-translate
        >
            loading
        </span>
        <span
            ng-if="vm.table.dataIsLoaded && vm.table.data.length === 0"
            data-translate
        >
            otherConnections.no-connections
        </span>
    </div>

    <br/><br/>
    <!-- EDITOR -->
</div>
