<div
    class="point-to-point-editor"
    ng-controller="$root.PointToPointEditorController as vm"
>

    <ndm-button
        is-disabled="vm.isLocked"
        btn-class="btn--long"
        on-click="vm.addNewTunnel"
        label="{{ vm.l10n.createConnectionBtn }}"
    >
    </ndm-button>

    <ndm-popup
        is-visible="true"
        ng-if="vm.isVisible"
        class="point-to-point-editor__popup"
        close="vm.closeEditor"
        save="vm.saveTunnel"
        header-title="{{ vm.l10n.header }}"
    >
        <div
            class="point-to-point-editor__description"
            data-translate
        >
            {{ vm.l10n.description }}
        </div>

        <form
            class="point-to-point-editor__form"
            name="vm.form"
            novalidate
        >
            <ndm-fieldset is-disabled="vm.isLocked">

                <ndm-input
                    label="{{ vm.l10n.field_description }}"
                    model="vm.model.description"
                    name="PointToPointEditor__description"
                    validation="required,maxLengthInBytes[256]"
                >
                </ndm-input>

                <ndm-selectbox
                    disabled="vm.ui.isLocked || !vm.model.isNew"
                    label="{{ vm.l10n.field_type_label }}"
                    name="PointToPointEditor__type"
                    options="vm.options.type"
                    value="vm.model.type"
                    on-value-change="vm.onTypeChange"
                >
                </ndm-selectbox>

                <!-- IP GLOBAL -->
                <div
                    ng-if="vm.model.type !== vm.TUNNEL_TYPE.EOIP"
                    ng-form="vm.form.isGlobalSubform"
                >
                    <ndm-checkbox
                        label="{{ vm.l10n.field_isGlobal_label }}"
                        model="vm.model.isGlobal"
                        name="PointToPointEditor__isGlobal"
                        hint="{{ vm.l10n.field_isGlobal_hint }}"
                    >
                    </ndm-checkbox>
                </div>

                <!-- EoIP ID -->
                <div
                    ng-if="vm.model.type === vm.TUNNEL_TYPE.EOIP"
                    ng-form="vm.form.eoipIdSubform"
                >
                    <ndm-input
                        label="{{ vm.l10n.field_eoipId_label }}"
                        hint="{{ vm.l10n.field_eoipId_hint }}"
                        model="vm.model.eoipId"
                        name="PointToPointEditor__eoipId"
                        validation="required,integer,range[0..65535]"
                    >
                    </ndm-input>
                </div>

                <ndm-input
                    name="PointToPointEditor__address"
                    model="vm.model.address"
                    label="{{ vm.l10n.field_ipAddress }}"
                    validation-data="{nets: vm.restrictedSubnetsList, mask: vm.model.mask}"
                    validation="required,ip,isHost[{{vm.model.mask}}],notInNets[mask,nets]"
                >
                </ndm-input>

                <ndm-selectbox
                    disabled="vm.ui.isLocked"
                    label="{{ vm.l10n.field_mask }}"
                    value="vm.model.mask"
                    name="PointToPointEditor__mask"
                    options="vm.options.mask"
                >
                </ndm-selectbox>

                <ndm-checkbox
                    ng-if="vm.IS_IPSEC_AVAILABLE"
                    label="{{ vm.l10n.field_ipsecIsEnabled_label }}"
                    model="vm.model.ipsec.isEnabled"
                    name="PointToPointEditor__isIpsecEnabled"
                    hint="{{ vm.l10n.field_ipsecIsEnabled_hint }}"
                    on-value-change="vm.onIpsecToggle"
                >
                </ndm-checkbox>

                <!-- IPsec settings -->
                <ndm-sub-form
                    ng-if="vm.model.ipsec.isEnabled"
                    ng-form="vm.form.ipsecSubform"
                >
                    <ndm-input
                        name="PointToPointEditor__ipsecPsk"
                        password="true"
                        model="vm.model.ipsec.psk"
                        label="{{ vm.l10n.field_ipsecPsk }}"
                        validation="required,ipsecPsk"
                    >
                    </ndm-input>

                    <ndm-checkbox
                        label="{{ vm.l10n.field_ipsecForceEncaps_label }}"
                        hint="{{ vm.l10n.field_ipsecForceEncaps_hint }}"
                        model="vm.model.ipsec.forceEncaps"
                        name="PointToPointEditor__ipsecForceEncaps"
                    >
                    </ndm-checkbox>

                    <ndm-checkbox
                        disabled=""
                        label="{{ vm.l10n.field_ipsecIkev2_label }}"
                        hint="{{ vm.l10n.field_ipsecIkev2_hint }}"
                        model="vm.model.ipsec.ikev2Enabled"
                        name="PointToPointEditor__ipsecIkev2"
                    >
                    </ndm-checkbox>

                    <div
                        ng-if="vm.model.ipsec.ikev2Enabled"
                        ng-form="vm.form.interfaceIdSubform"
                    >
                        <ndm-input
                            label="{{ vm.l10n.field_interfaceId_label }}"
                            model="vm.model.interfaceId"
                            name="PointToPointEditor__interfaceId"
                            extra-validator="vm.interfaceIdValidator"
                            validation="required,integer,range[0..127]"
                        >
                        </ndm-input>
                    </div>

                    <ndm-checkbox
                        label="{{ vm.l10n.field_ipsecWaitForRemote_label }}"
                        model="vm.model.ipsec.isServer"
                        name="PointToPointEditor__ipsecIsServer"
                        hint="{{ vm.l10n.field_ipsecWaitForRemote_hint }}"
                        on-value-change="vm.onIsServerToggle"
                    >
                    </ndm-checkbox>
                </ndm-sub-form>

                <ndm-input
                    disabled="vm.isServerModeEnabled"
                    name="PointToPointEditor__destination"
                    model="vm.model.destination"
                    label="{{ vm.l10n.field_remote }}"
                    validation="ipOrDomain,required"
                    custom-formatter="vm.destinationFormatter"
                >
                </ndm-input>

                <ndm-selectbox
                    ng-class="{
                        'invalid-field': !vm.isSourceValid
                    }"
                    is-disabled="vm.ui.isLocked"
                    label="{{ vm.l10n.field_source_label }}"
                    value="vm.model.source"
                    name="PointToPointEditor__source"
                    on-value-change="vm.onSourceChange"
                    options="vm.options.source"
                >
                    <div
                        ng-show="!vm.isSourceValid"
                        class="point-to-point-editor__source-warning"
                        data-translate
                    >
                        {{ vm.sourceHint }}
                    </div>
                </ndm-selectbox>

                <ndm-sub-form
                    ng-if="vm.model.source === vm.LOCAL_SOURCE.MANUAL"
                    ng-form="vm.form.sourceSubform"
                >
                    <ndm-input
                        label="{{ vm.l10n.field_sourceIpAddress }}"
                        model="vm.model.sourceIp"
                        name="PointToPointEditor__sourceIp"
                        validation="required,ip"
                    >
                    </ndm-input>
                </ndm-sub-form>

                <div
                    ng-if="!vm.model.isNew"
                    class="point-to-point-editor__delete-panel"
                >
                    <hr class="hr-light-blue"/>

                    <ndm-button
                        is-disabled="vm.isLocked"
                        btn-class="btn--warning"
                        on-click="vm.deleteTunnel"
                        label="{{ vm.l10n.deleteConnectionBtn }}"
                    >
                    </ndm-button>
                </div>

            </ndm-fieldset>

            <ndm-control-footer
                prefix="pointToPoint"
                is-visible="vm.form.modified || vm.model.isNew"
                is-popup="true"
                is-save-disabled="vm.form.$invalid || vm.isLocked || !vm.isSourceValid"
                save="vm.saveTunnel()"
                cancel="vm.closeEditor()"
            >
            </ndm-control-footer>
        </form>
    </ndm-popup>

</div>
